<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('partials/_head') %>

  <title>TinyApp - URLs Index</title>
</head>

<body>

  <%- include('partials/_header') %>

  <main style="margin: 1em;">
    <section id="url_index_table">
      <h3>My URLs Index</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Original URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (const shortURL in urls) { %>
          <tr>
              <td><%= shortURL %></td>
              <td><%= urls[shortURL] %></td>
              <td>
                <form method="GET" action="/urls/<%= shortURL %>">
                  <input style="background-color:white;border-color:blue;border-radius: 5px; padding: 0.4rem;color:blue;" type="submit" value="Edit"/>
                </form>
              </td>
              <td>
                <form method="POST" action="/urls/<%= shortURL %>/delete">
                  <input style="background-color:white;border-color:red;border-radius: 5px; padding: 0.4rem;color:red;" type="submit" value="Delete"/>
                </form>
              </td>
          </tr>
          <% } %>
        </tbody>
      </table>  
    </section>
    
    <section id="" class="nav">
      <a href = "/urls/new">Shorten a new URL</a>
    </section>
    
    
  </main>
  
  <%- include('partials/_footer') %>

</body>
</html>
