<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('partials/_head') %>

  <title>TinyApp - URLs Index</title>
</head>

<body>

  <%- include('partials/_header') %>

  <main style="margin: 1em;">
      <h3 style="text-align: center; margin: 1.5rem" >My Tiny URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Original URL</th>
            <th scope="col">Date Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (const shortURL in urls) { %>
          <tr>
              <td><%= shortURL %></td>
              <td><%= urls[shortURL].longURL %></td>
              <td><%= urls[shortURL].date %></td>
              <td>
                <form method="GET" action="/urls/<%= shortURL %>">
                  <button type="submit" class="btn btn-outline-primary">Edit</button>
                </form>
              </td>
              <td>
                <form method="POST" action="/urls/<%= shortURL %>/delete">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
              </td>
          </tr>
          <% } %>
        </tbody>
      </table>  
    
    <section style="margin: 2rem 0 0 0">
      <a href = "/urls/new"><button class="btn btn-outline-primary">New Tiny URL</button></a>
    </section>
    
    
  </main>
  
  <%- include('partials/_footer') %>

</body>
</html>
