<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('partials/_head') %>

  <title>TinyApp - URL Display</title>
</head>

<body>

  <%- include('partials/_header') %>
  
  <main>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class= "card-title">Tiny URL For: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h2 class= "card-title">Edit</h2>
        <form method="POST" action="/urls/<%= shortURL %>">
          <label>New URL:</label>
          <input type="text" name="longURL" value="http://">
          <input type="submit"/>
        </form>
      </div>
    </div>
    
  </main>

  <%- include('partials/_footer') %>
  
</body>
</html>
